* {
margin: 0;
padding: 0;
outline: none;
text-decoration: none;
box-sizing: border-box;
}

body {
font-family: 'Montserrat', 'Times New Roman';
/* background-color: rgb(255, 255, 255); */
color: rgb(0, 0, 0);
}

/* Navbar */


/* content */
