:root{
    --primary: #cfc8be;
    --bg: #000;
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: var(--bg);
}

body{
    font-family: 'Times New Roman', Times, serif;
    /* background-color: var(--primary); */
}

/* Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0);
}

.navbar .container .navbar-collapse ul li a:hover{
    color: green;
    transform: scale(1.1);
}

/* Hero */
.hero {
    width: 100vw;
    height: 100vh;
    padding-top: 8rem;
    background-image: linear-gradient(0deg, rgb(179 179 179), white 50%);
}

.hero .content{
    background-color: rgba(255, 255, 255);
    width: 500px;
    height: 350px;
    margin: auto;
    border-radius: 5%;
    box-shadow: 0px 40px 30px -20px black;
    border: solid 1px black;
}

.d-none {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it appears on top */
}